@media screen and (max-width: 768px){
    header>div{
        
    }
    .nav-bar.primary{
        margin-left: auto;
    }
    .hero-img-div{
        height: 400px;
        background-position: center;
        background-size: cover;
    }
    .nav-bar.primary>ul{
        display: block;
        width: 100%;
    }
    .nav-bar.primary>ul li{
        max-width: 100%;
    }
    .nav-collapse ul a{
        font-size: 30px;
        padding: 20px 0;
    }
    .nav-toggle{
        background-color: #2d4571;
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
        display: block;
    }
    .slide-show>div>div{
        flex-direction: column;
    }
    .slide-show>div>div div:first-child{
        width: 100%;
        min-height: 0px;
    }
    .slide-show>div>div p{
        min-height: 60px;
    }
    .slide-show>div>div>div:nth-child(2){
    width: 100%;
}
    
}